<a href="https://colab.research.google.com/github/hoangson10/code/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('text.txt',mode='w') as accounts:
  accounts.write('1 vo hoang son 8.0/n')

In [ ]:
with open ('text.txt',mode='w') as accounts:
  print('bmw',file=accounts)

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(2)

   STT      mssv    ten  diem  khoa   he  nam
0  1.0  20304050  hoang      4  CKM  CLC   24
1  2.0  20304013    tan      5  CKM   DT   12

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['han','ben']
dataframe['Age'] = [10,21]
dataframe

  Name  Age
0  han   10
1  ben   21

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

    STT      mssv    ten  diem  khoa   he  nam
0   1.0  20304050  hoang      4  CKM  CLC   24
1   2.0  20304013    tan      5  CKM   DT   12
2   3.0  20304048    han      2  CKM   DT   12
3   4.0  20304072    nen      8  CKM  CLC   12
4   5.0  20103040    ken      5  CKM   DT   12
5   6.0  20405010    men      2  CKM   DT   12
6   7.0  20492049    lan      4  CKM  CLC   12
7   NaN  20495024    sam      7  CKM  CLC   12
8   9.0  20489345    bon      2  CKM  CLC   12
9  10.0  23904209    dan      9  CKM   DT   12

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['he'])
dataframe.loc['DT']

     STT      mssv  ten  diem  khoa  he  nam
he
DT   2.0  20304013  tan      5  CKM  DT   12
DT   3.0  20304048  han      2  CKM  DT   12
DT   5.0  20103040  ken      5  CKM  DT   12
DT   6.0  20405010  men      2  CKM  DT   12
DT  10.0  23904209  dan      9  CKM  DT   12

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['he'])
dataframe.loc['DT']

     STT      mssv  ten  diem  khoa  he  nam
he
DT   2.0  20304013  tan      5  CKM  DT   12
DT   3.0  20304048  han      2  CKM  DT   12
DT   5.0  20103040  ken      5  CKM  DT   12
DT   6.0  20405010  men      2  CKM  DT   12
DT  10.0  23904209  dan      9  CKM  DT   12

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['he'] == 'DT') & (dataframe['khoa'] == 'CKM')]

    STT      mssv  ten  diem  khoa  he  nam
1   2.0  20304013  tan      5  CKM  DT   12
2   3.0  20304048  han      2  CKM  DT   12
4   5.0  20103040  ken      5  CKM  DT   12
5   6.0  20405010  men      2  CKM  DT   12
9  10.0  23904209  dan      9  CKM  DT   12

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.drop('he',axis=1).head(10)

    STT      mssv    ten  diem  khoa  nam
0   1.0  20304050  hoang      4  CKM   24
1   2.0  20304013    tan      5  CKM   12
2   3.0  20304048    han      2  CKM   12
3   4.0  20304072    nen      8  CKM   12
4   5.0  20103040    ken      5  CKM   12
5   6.0  20405010    men      2  CKM   12
6   7.0  20492049    lan      4  CKM   12
7   NaN  20495024    sam      7  CKM   12
8   9.0  20489345    bon      2  CKM   12
9  10.0  23904209    dan      9  CKM   12

In [ ]:
import pandas as pd
url = '/content/danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('nam').mean()

     STT          mssv     diem
nam
12   6.0  2.075565e+07  4.888889
24   1.0  2.030405e+07  4.000000

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['NOC'] == 'USA') & (dataframe['Medal'] == 'Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
84,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
86,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
120,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
123,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[(data['NOC'] == 'USA') & (data['Medal'] == 'Gold') & (data['Year']>=1970)]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
780,1972,Sapporo,Skating,Speed skating,USA,1500m,W,Gold
782,1972,Sapporo,Skating,Speed skating,USA,500m,W,Gold
784,1972,Sapporo,Skiing,Alpine Skiing,USA,slalom,W,Gold
887,1976,Innsbruck,Skating,Figure skating,USA,individual,W,Gold
888,1976,Innsbruck,Skating,Speed skating,USA,1000m,M,Gold
893,1976,Innsbruck,Skating,Speed skating,USA,500m,W,Gold
999,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
1002,1980,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
1003,1980,Lake Placid,Skating,Speed skating,USA,1000m,M,Gold
1005,1980,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
1007,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
1008,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
1119,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
1122,1984,Sarajevo,Skiing,Alpine Skiing,USA,downhill,M,Gold
1123,1984,Sarajevo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
1125,1984,Sarajevo,Skiing,Alpine Skiing,USA,slalom,M,Gold
1257,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
1262,1988,Calgary,Skating,Speed skating,USA,500m,W,Gold
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
1431,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
1432,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
1436,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
1610,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
1611,1994,Lillehammer,Skating,Speed skating,USA,1000m,M,Gold
1612,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
1613,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
1614,1994,Lillehammer,Skiing,Alpine Skiing,USA,downhill,M,Gold
1617,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
1812,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold
1815,1998,Nagano,Skating,Figure skating,USA,individual,W,Gold
1819,1998,Nagano,Skiing,Alpine Skiing,USA,super-G,W,Gold
1820,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,M,Gold
1821,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,W,Gold
1822,1998,Nagano,Skiing,Freestyle Ski.,USA,moguls,M,Gold
2027,2002,Salt Lake City,Bobsleigh,Bobsleigh,USA,two-man,W,Gold
2028,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
2029,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,W,Gold
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
2039,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
2043,2002,Salt Lake City,Skating,Speed skating,USA,1000m,W,Gold
2044,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
2048,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
2056,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
2058,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,W,Gold
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
2299,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
2300,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold